@font-face{
    font-family: myFirstFont;
    src: url('../fonts/Slabo27px-Regular.ttf');
}

.ant-layout-header {
    background-color: white;
    /* position: relative; */
}

.ant-menu {
    width: 100%;
}