.container {
    width: 80vw;
    position: relative;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 4;
    column-gap: 15px;
    column-fill: auto;
}

.item{
    break-inside: avoid; 
    box-sizing: border-box; 
    padding: 10px;
    animation: show 1s;
}

@keyframes show{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}